#nodemodules
/node_modules/
**/node_modules/

# Miscellaneous
app_mobile/frontend/src/*.class
app_mobile/frontend/src/*.log
app_mobile/frontend/src/*.pyc
app_mobile/frontend/src/*.swp
app_mobile/frontend/src/.DS_Store
app_mobile/frontend/src/.atom/
app_mobile/frontend/src/.buildlog/
app_mobile/frontend/src/.history
app_mobile/frontend/src/.svn/
app_mobile/frontend/src/migrate_working_dir/

# IntelliJ related
app_mobile/frontend/src/*.iml
app_mobile/frontend/src/*.ipr
app_mobile/frontend/src/*.iws
app_mobile/frontend/src/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
app_mobile/frontend/src/.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/frontend/src/build/

# Symbolication related
app_mobile/frontend/src/app.*.symbols

# Obfuscation related
**/frontend/src/app.*.map.json

# Android Studio will place build artifacts here
app_mobile/frontend/src/android/app/debug
app_mobile/frontend/src/android/app/profile
app_mobile/frontend/src/android/app/release
