.navBar {
    display: flex;
    flex-direction: column;
    background-color: navy; /* Cambia a tu color azul oscuro */
    padding: 20px;
    color: white; /* Color del texto */
    width: 200px; /* Ancho del navbar */
    height: 50vh;
  }
  
  .navBar a {
    text-decoration: none;
    color: white;
    margin-bottom: 10px; /* Espacio entre los elementos del navbar */
  }
  
  .navBar a:hover {
    text-decoration: underline;
  }